/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/
.login:hover,
.login:focus {
  background-color: #034ea2;
}

.navbar-brand {
  color: #034ea2 !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #034ea2 !important;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
}

.main-nav>li>a:hover::before,
.navbar-default .navbar-nav>.active>a::before,
.navbar-default .navbar-nav>.open>a:hover::before {
  background-color: #fff;
}

.main-nav .dropdown:hover .dropdown-toggle {
  color: #fff;
}

.main-nav .dropdown:hover .dropdown-toggle::before {
  background-color: #034ea2;
  color: #034ea2;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #034ea2;
}

.navbar-nav>li>.dropdown-menu {
  border-top: 2px solid #034ea2;
}

.navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-nav>li>.dropdown-menu>li>a:focus {
  color: #034ea2;
}

.main-slider .slick-prev:hover,
.main-slider .slick-next:hover {
  background-color: #034ea2;
}

.main-slider .slick-dots li button::before {
  color: #034ea2;
}

.read-more-btn:hover,
.read-more-btn:focus {
  background-color: #034ea2;
}

.title-area .title {
  color: #034ea2;
}

.single-feature .feature-icon {
  color: #034ea2;
}

.feat-title {
  color: #034ea2;
}

.our-skill h3 {
  color: #034ea2;
}

.our-skill h3::after {
  background-color: #034ea2;
}

.our-skill-content .progress-bar {
  background-color: #034ea2;
}

.why-choose-us h3 {
  color: #034ea2;
}

.why-choose-us h3::after {
  background-color: #034ea2;
}

.panel-title>a:hover,
.panel-title>a:focus {
  color: #034ea2;
}

.single-counter .counter-label::after {
  background-color: #034ea2;
}

.price-title {
  background-color: #034ea2;
}

.purchase-btn:hover,
.purchase-btn:focus {
  background-color: #034ea2;
  border-color: #034ea2;
}

.featured-price .price-header {
  background-color: #034ea2;
}

.featured-price .purchase-btn {
  background-color: #034ea2;
  border-color: #034ea2;
}

.team-member-img {
  border: 2px solid #034ea2;
}

.single-team-member:hover {
  border: 2px solid #034ea2;
}

.single-team-member:hover .team-member-link {
  background-color: #034ea2;
}

.team-member-link {
  border: 2px solid #034ea2;
}

.testimonial-content h6 span {
  color: #034ea2;
}

.testimonial-slider .slick-dots li {
  border: 1px solid #034ea2;
}

.blog-news-title h2>a:hover {
  color: #034ea2;
}

.blog-news-title .blog-author:hover {
  color: #034ea2;
}

.blog-more-btn:hover,
.blog-more-btn:focus {
  color: #034ea2;
}

.subscribe-btn {
  background-color: #034ea2;
}

.scrollToTop {
  background-color: #034ea2;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: #034ea2;
  border: 1px solid #034ea2;
}

.portfolio-menu ul li:hover,
.portfolio-menu ul li.active {
  background-color: #034ea2;
  border-color: #034ea2;
}

.single-item-content::after {
  border: 4px solid #034ea2;
}

.view-icon:hover {
  color: #034ea2;
}

.pagination-nav li a:hover,
.pagination-nav li a:focus {
  background-color: #034ea2;
  border-color: #034ea2;
}

.sidebar-widget ul>li>a:hover {
  color: #034ea2;
}

.search-group .blog-search-btn {
  background-color: #034ea2;
}

.search-group input[type="search"] {
  border: 1px solid #034ea2;
}

.search-group input[type="search"]:focus {
  border-color: #034ea2;
}

.widget-title::after {
  background-color: #034ea2;
}

.widget-catg li {
  color: #034ea2;
}

.widget-catg li a:hover,
.widget-catg li a:focus {
  color: #034ea2;
}

.tag-cloud a:hover,
.tag-cloud a:focus {
  background-color: #034ea2;
  border-color: #034ea2;
}

.widget-archive li a:hover,
.widget-archive li a:focus {
  color: #034ea2;
}

.blog-single-tag a:hover,
.blog-single-tag a:focus {
  color: #034ea2;
}

.blog-single-social a:hover,
.blog-single-social a:focus {
  color: #034ea2;
  border-color: #034ea2;
}

.blog-navigation-prev a>span {
  color: #034ea2;
}

.blog-navigation-next a>span {
  color: #034ea2;
}

.comments-form .form-control:focus {
  border-color: #034ea2;
}

.comments-box-area h2::after {
  background-color: #034ea2;
}

.comment-btn:hover {
  background-color: #034ea2;
  border-color: #034ea2;
}

.contact-area-left h4::after {
  background-color: #034ea2;
}

#login-content .form-control:focus {
  border-color: #034ea2;
}

.loginbox .signin-btn {
  background-color: #034ea2;
}

.footer-box a:hover,
.footer-box a:focus {
  color: #034ea2;
}

#signup-content .modal-title {
  color: #034ea2;
}

#signup-content .form-control:focus {
  border-color: #034ea2;
}

.signupbox span a:hover {
  color: #034ea2;
}

.navbar-default .navbar-toggle {
  border-color: #034ea2;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #034ea2;
}

#search-icon {
  color: #034ea2;
}

#login-content .modal-title {
  color: #034ea2;
}

.service-icon {
  color: #034ea2;
}

.footer-left p a:hover {
  color: #034ea2;
}

.footer-right a:hover {
  color: #034ea2;
}

.single-page-header-right .breadcrumb li {
  color: #bdbdbd;
}

.error-title {
  background-color: #034ea2;
  border: 2px solid #034ea2;
}

.error-content span {
  color: #034ea2;
}

.error-content .error-home {
  background-color: #034ea2;
}

/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/